.carousel-container {
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-top: 25px; */
}

/* .carousel-container {
  height: 500px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, transparent 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */
