/* Footer Container */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.footer-container {
  background-color: #444444;
  margin: 2% 5%;
  text-align: center;
  color: white;
  padding: 5px;
}

.footer-info {
  flex: 1;
  text-align: left;
}

.footer-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.footer-links .nav-link {
  color: white !important;
}

.footer-links .nav-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Icons */
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Adjust the height as needed */
}

.footer-icons img {
  width: 16px; /* Set the width to match the other icons */
  height: auto; /* Maintain aspect ratio */
  margin: 0 5px; /* Adjust margin as needed */
  padding-bottom: 3px;
}

.footer-icons a {
  margin: 0 5px;
  font-size: 18px; 
  color: white;
  transition: color 0.3s ease;
}

.footer-icons a:hover {
  color: #999;
}

/* Remove underline for Zalo icon */
.footer-icons a.zalo-link {
  text-decoration: none;
}

/* Copyright */
.copyright {
  font-size: 12px;
}
